body{
    margin: 0;
    background-color:white;
    font-family: sans-serif;
    color: black;
    position: relative;
    padding-bottom: 39em;
    min-height: 100vh;

}

.pie {
    text-decoration: none;
    color: black;
    font-weight: 600;
    align-self: flex-end;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 75%;
}


.pie:hover{
    color: lawngreen;
}

.pie1{
    border: 2px solid black;
    background: white;
}